<div class="example-container mat-elevation-z8">
  <mat-card-header>
      <mat-card-subtitle><h1 style="color:FFF">GRAPHQL</h1></mat-card-subtitle>
      <mat-card-subtitle>Disciplina: Técnologia em desenvolvimento de sistemas</mat-card-subtitle>
      <mat-card-subtitle>Discente: Alecsander J P de Andrade</mat-card-subtitle>
    </mat-card-header>
<mat-card class="example-card">
    <mat-card-content>
      <p class="text" style="text-align: justify">
        O objetivo dessa aplicação é exemplificar um CRUD completo utilizando a comunicação entre client e server através de GRAPHQL.
        <br /><br />
        Por a tecnlogia ser somente um "protocolo" de comunicação assim como o REST, então foram utilizadas outras
        ferramentas durante a implementação do código, entre elas: Angular, Express, MongoDB.
        <br /><br />
        O MongoDB é um banco de dados orientado a objetos, foi utilizado a fim de mostrar a capacidade da aplicação de executar o CRUD em uma base de dados real.
        <br /><br />
        Já o Express, é um framework que fornece o necessário para que seja possivel levantar uma aplicação HTTP, que será o protocolo utilizado na comunicar a aplicação,
        porém na própria documentação do GRAPHQL diz não ser necessário utilizar HTTP, ou seja, a aplicação poderia utilizar qualquer outro meio de comunicação. Além de fornecer os
        métodos HTTP, vamos utilizar essa aplicação para se conectar com o banco de dados e também para criar a nossa API GraphQL.
        <br /><br />
        E por fim Angular, para implementar o cliente que irá consumir o serviço que vai ser disponibilizado através da aplicação Express, dentro dessa aplicação não são utilizados
        os meios comuns de requisição HTTP e sim um client especifico, nesse caso o Apollo Client, que implementa uma comunicação com uma API GraphQL de maneira eficiente.

      </p>
    </mat-card-content>
</mat-card>
</div>
